# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development
venv/
env/
*.env

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg
*.whl

# IDE
.idea/
.vscode/
*.pyc
*.pyo

# Logs
*.log
logs/
log/
logging/

# Other
*.bak
*.swp
*.tmp
.DS_Store
Thumbs.db
